body {
  overflow-x: hidden;
}

.search-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.search-container {
  position: relative;
  max-width: 90%;
  margin: 20px 0;
  display: block;
  margin: 0 auto;
  width: 1205px;
  position: relative;
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  width: 600px;
  margin: 25px auto 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
}

.search-input {
  width: 100%;
  padding: 16px 12px 16px 8px;
  font-size: 16px;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

.search-icon {
  /* position: absolute; */
  /* left: 8px;
  top: 50%; */
  /* transform: translateY(-50%); */
  display: flex;
  pointer-events: none;
  width: 24px;
  height: 24px;
}
.search-icon > svg {
  width: 100%;
  height: 100%;
}

.clear-button {
  background: transparent;
  border: none;
  font-size: 18px;
  color: #888;
  cursor: pointer;
  padding: 4px;
  margin-right: 8px;
}
.clear-button:focus {
  outline: none !important;
}

.dropdown {
  /* position: absolute;
  top: 110%;
  left: 0;
  right: 0; */
  /* background: white;
  border: 1px solid #ddd; */
  /* border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); */
  z-index: 1000;
  overflow: auto;
}

.simple-dropdown {
  width: 622px;
  display: block;
  margin: 0 auto;
  background: white;
  margin-top: 5px !important;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #efefef;
}
.dropdown-item:last-child {
  border-bottom: 0;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-icon {
  font-size: 18px;
}

.bg-cover {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.1);
}

.search-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 24px 0;
}

.dropdown-card {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-basis: 25%;
  flex-grow: 0;
  flex-direction: column;
}
.dropdown-card .box {
  margin: 8px 8px 8px;
  padding: 8px;
  border: 1px solid #eee;
  background-color: white;
}

.dropdown-card img {
  max-width: 100%;
}

.dropdown-card h5 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 24px 0;
  display: block;
  color: #146cda;
}

.dropdown-card h6 {
  font-size: 14px;
  font-weight: normal;
}

.button-search {
  background: transparent;
  padding: 0;
  outline: none;
  border: none;
}
